editdistance==0.6.2
fairscale==0.4.13
funasr==0.7.8
humanfriendly==10.0
kaldiio==2.18.0
modelscope==1.9.4
numpy==1.23.5
oss2==2.18.2
Pillow==10.0.1
Pillow==11.0.0
PyYAML==6.0.1
PyYAML==6.0.2
scipy==1.14.1
six==1.16.0
soundfile==0.12.1
torch==2.1.0+cu118
torchaudio==2.1.0+cu118
transformers==4.27.4
